@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(90deg, #333, #005f99, #333);
    background-size: 300% 300%;
    animation: gradientAnimation 10s infinite ease-in-out; /* Animação do gradiente */
    color: rgb(88, 171, 243);
    font-size: 1.2rem;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #555;
    background-color: rgb(88, 171, 243);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-color: rgb(5, 135, 241);
    box-shadow: 0 0 8px rgba(5, 135, 241, 0.5);
}

button:hover {
    background-color: rgb(1, 35, 65);
    padding: 15px;
    color: white;
    box-shadow: 0px 8px 15px rgba(5, 135, 241, 0.3);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(5, 135, 241, 0.2);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1b1b1b;
    color: rgb(88, 171, 243);
    text-align: center;
    padding: 10px 0;
}
